/* Sidebar Container */

#sidebar_container {
  border: solid;
  border-width: 1px;
  width: 300px;
}

/* Sidebar Section */

.sidebar_section {
  border: solid;
  border-width: 1px;
  padding: 10px;
}

/* Filter Sidebar Section */

#extract_image_category {
  padding: 8px;
}

#sidebar_filter_apply_button {
  display: block;
  margin: auto;
  border-radius: 0px;
  border-width: 1px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #A9A9A9;
}

/* Segment Sidebar Section */

#sidebar_segment_gallery {
  overflow-x: hidden;
}

#sidebar_segment_gallery img {
  width: 250px;
  height: 250px;
  display: block;
  margin: auto;
}

#sidebar_segment_gallery button {
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #696969;
  display: block;
  margin: auto;
  color: white;
}